

#Python Scorer BASE URL
python_scorer_base_url=

# Azure Database Configuration
AZURE_DB_PASSWORD=
AZURE_DB_URL=
AZURE_DB_USERNAME=

# Supabase Database Configuration
DB_PASSWORD=
DB_URL=
DB_USERNAME=

# PagerDuty Configuration
PAGERDUTY_API_TOKEN=
PAGERDUTY_BASE_URL=
PAGERDUTY_INTEGRATION_KEY=
PAGERDUTY_WEBHOOK_SECRET=

#Sheduler Configuration
PAGERDUTY_SYNC_RATE=
